<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= link_to '日本語', "#{request.path_info}?locale=ja" %>
      <%= link_to 'English', "#{request.path_info}?locale=en" %>
    </div>
    <%= yield %>
  </body>
</html>
